[Unit]
Description=Miniflux Web Server
After=network.target

[Service]
ExecStart=/usr/bin/miniflux -c /etc/miniflux.conf
User=miniflux
Group=nobody
PrivateTmp=true

[Install]
WantedBy=multi-user.target
