[Unit]
Description=Prometheus IPMI Exporter
Documentation=https://github.com/prometheus-community/ipmi_exporter

[Service]
ExecStart=/usr/bin/ipmi_exporter --config.file=/etc/conf.d/ipmi_exporter
User=ipmi-exporter
Restart=always
PrivateTmp=yes

[Install]
WantedBy=multi-user.target
