[Unit]
Description=Synapse Matrix homeserver
After=network.target

[Service]
ExecStart=/usr/bin/synctl --no-daemonize start /etc/synapse/homeserver.yaml
ExecStop=/usr/bin/synctl stop /etc/synapse/homeserver.yaml
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
PrivateTmp=true
User=synapse
Group=synapse
WorkingDirectory=/var/lib/synapse

[Install]
WantedBy=multi-user.target
